@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Kanit", serif;
  margin: 0;
  padding: 0;
  transition: all .5s;
}

body {
  background-color: #efece5;
}

.container{
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  margin-bottom: 80px;
  background-color: #efece5;
}

.bg-gray-500 {
  background-color: gray;
}

.bg-blue-500 {
  background-color: blue;
}


@media only screen and (max-width: 800px){
  .container{
    width: 100vw;
  }
}
